<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Trirong">
<link rel='stylesheet'
	href='https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>

<script
	src='https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
</head>
<body>
	<table class="body-wrap"
		style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: #f6f6f6; margin: 0;"
		bgcolor="#f6f6f6">
		<tbody>
			<tr
				style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
				<td
					style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;"
					valign="top"></td>
				<td class="container" width="600"
					style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; background-color: rgba(39, 47, 40, 0.15);"
					valign="top">
					<div class="content"
						style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; max-width: 600px; display: block; margin: 0 auto; padding: 20px;">
						<table class="main" width="100%" cellpadding="0" cellspacing="0"
							style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px; background-color: #fff; margin: 0; border: 1px solid #e9e9e9;"
							bgcolor="#fff">
							<tbody>
								<tr
									style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
									<td class=""
										style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; color: #fff; font-weight: 500; text-align: center; border-radius: 3px 3px 0 0; background-color: #38414a; margin: 0; padding: 20px;"
										align="center" bgcolor="#71b6f9" valign="top"><a href="#"
										style="font-size: 32px; color: #fff;"> SportArea</a> <br>
										<span style="margin-top: 10px; display: block;">
											Вітаємо вас в нашому онлайн магазині спортивного харчування
											та вітамінів!</span></td>
								</tr>
								<tr
									style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
									<td class="content-wrap"
										style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 20px;"
										valign="top">
										<table width="100%" cellpadding="0" cellspacing="0"
											style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
											<tbody>
												<tr
													style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
													<td class="content-block"
														style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
														valign="top"></td>
												</tr>
												<tr
													style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
													<td class="content-block"
														style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
														valign="top">
														<p>Дякуємо за реєстрацію і обрання нас для
															забезпечення вашого здоров'я та активного способу життя.
															У нашому асортименті ви знайдете найкращі продукти для
															підтримки вашого фізичного вигляду та підвищення енергії.</p>
														<p>Зараз ви можете насолоджуватися такими перевагами:</p>
														<ul>
															<li><strong>Широкий вибір продуктів:</strong> У нас
																ви знайдете великий асортимент спортивного харчування,
																вітамінів та додаткових комплексів, які відповідають
																вашим потребам.</li>
															<li><strong>Ексклюзивні пропозиції та
																	знижки:</strong> Ми регулярно надаємо нашим клієнтам можливість
																економити на покупках. Стежте за нашими акціями та
																спеціальними пропозиціями.</li>
															<li><strong>Експертні рекомендації:</strong> Наші
																фахівці готові допомогти вам обрати найкращі продукти
																відповідно до ваших мет та потреб.</li>
															<li><strong>Швидка та безпечна доставка:</strong> Ми
																прагнемо забезпечити, щоб ваші покупки досягли вас
																швидко та безпечно, гарантуючи високу якість кожного
																замовлення.</li>
														</ul>
													</td>
												</tr>
												<!--                                <tr-->
												<!--                                        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">-->
												<!--                                    <td class="content-block"-->
												<!--                                        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"-->
												<!--                                        valign="top">-->
												<!--                                        <img src="cid:image" style="width: 300px; display: block; margin-bottom: 35px;">-->
												<!--                                        <a class="btn-primary"-->
												<!--                                           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #f1556c; margin: 0; border-color: #f1556c; border-style: solid; border-width: 8px 16px;"-->
												<!--                                           th:href="${url}">-->
												<!--                                            Verify My Account</a>-->
												<!--                                    </td>-->
												<!--                                </tr>-->
												<tr
													style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
													<td class="content-block"
														style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
														valign="top">
														<p>
															Дякуємо, що обрали <b>наш</b> магазин. Бажаємо вам
															успіхів у досягненні ваших цілей та активного та
															здорового способу життя! Залишайтеся з нами для новин та
															оновлень.
														</p>
														<p>
															З найкращими побажаннями,<br>SportArea
														</p>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="footer"
							style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; clear: both; color: #999; margin: 0; padding: 20px;">
							<table width="100%"
								style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
								<tbody>
									<tr
										style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
										<td class="aligncenter content-block"
											style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; color: #999; text-align: center; margin: 0; padding: 0 0 20px;"
											align="center" valign="top"><a href="#"
											style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 12px; color: #999; text-decoration: underline; margin: 0;">Unsubscribe</a>
											from these alerts.</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</td>
				<td
					style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;"
					valign="top"></td>
			</tr>
		</tbody>
	</table>

</body>
</html>
